@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
    <div class="row">
        <div class="col-4">s
            <div class="panel">
                <div class="panel-header">
                    asdf
                </div>
                <div class="panel-body">
                    asdf
                </div>
            </div>
        </div>
    </div>
</div>*@