@{ 
    Layout = null;
}

<aside draggable="true" id="main-navigation" class="sidebar">
    <nav>
        <ul class="nav-menu">
            <li>
                <a href="#">
                    <span class="material-icons-outlined">settings</span>
                    <span class="nav-link-text">Item 1</span>
                    @*<span class="material-icons-outlined">expand_more</span>*@
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons-outlined">settings</span>
                    <span class="nav-link-text">Item 2</span>
                </a>
                <ul>
                    <li class="sub-item">
                        <a href="#"><span class="nav-link-text">Sub Item 1</span></a>
                    </li>
                    <li class="sub-item">
                        <a href="#"><span class="nav-link-text">Sub Item 2</span></a>
                    </li>
                    <li class="sub-item">
                        <a href="#"><span class="nav-link-text">Sub Item 3</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Item 1</a>
            </li>
        </ul>
    </nav>
</aside>