@{ 
    Layout = null;
}

<header class="page-header" role="banner">
    <div id="navigation-toggle" class="sidebar-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>